<div class="container d-flex flex-column justify-content-center">
    <div class="border border-0 card mt-5" style="width: 80%;">
        <div class="card-body">
            <h5 class="card-title mb-3 fs-4">
                Posteos
            </h5>
            <h6 class="fs-6 card-subtitle text-body-secondary">
                Publicaciones realizadas en la semana
            </h6>
        </div>
        <div class="border border-0 card mt-5" style="width: 80%;">
            <div class="card-body">
                <h5 class="card-title fs-4">
                    <a href="#" class="pointer text-primary-emphasis">Lorem ipsum dolor sit amet</a>
                </h5>
                <p class="fs-6 text-secondary">19-12-2002</p>
                <h6 class="fs-6 card-subtitle text-body-secondary">
                    Lorem ipsum dolor sit amet
                </h6>
            </div>
            <div class="d-flex">
                <ul>
                    <li><button class="btn btn-primary">Link</button></li>
                </ul>
                <ul>
                    <li><button class="btn btn-primary">Link</button></li>
                </ul>
                <ul>
                    <li><button class="btn btn-primary">Link</button></li>
                </ul>
            </div>
        </div>
        <div class="border border-0 card mt-5" style="width: 80%;">
            <div class="card-body">
                <h5 class="card-title fs-4">
                    <a href="#" class="pointer text-primary-emphasis">Lorem ipsum dolor sit amet</a>
                </h5>
                <p class="fs-6 text-secondary">19-12-2002</p>
                <h6 class="fs-6 card-subtitle text-body-secondary">
                    Lorem ipsum dolor sit amet
                </h6>
            </div>
            <div class="d-flex">
                <ul>
                    <li><button class="btn btn-primary">Link</button></li>
                </ul>
                <ul>
                    <li><button class="btn btn-primary">Link</button></li>
                </ul>
                <ul>
                    <li><button class="btn btn-primary">Link</button></li>
                </ul>
            </div>
        </div>
    </div>